*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Quicksand";
}
body {
    display: flex;
    justify-content: space-around;
    background: #e4ecff;
}


#titlepage, #joinpage{
    display: none;
    margin: 100px;
    padding: 30px;
    background:  white;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

#chatpage{
    display: none;
    margin: 30px;
    width: 85%;
    height: 450px;
    background:  white;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
    text-align: center;
}

#titlecontent, #joincontent{
    text-align: center;
}

#gameidtext{
    padding-top: 4px;
}


.chatBox {
    margin: 3px auto 9px;
    width: 90%;
    height: 80%;
    background: lightgray;
    overflow: auto;
}

#chatCell {
    margin: 2px 0;
    padding: 4px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
}

/* Buttons */
.btn, button{
    height: 30px;
    background:#4070F4;
    border-radius: 5px;
    outline: none; 
    border: none;
    text-align: center;
    color: white;
}

.btn{
    margin-left: 3px;
    width: 20%;
}

button{
    margin-top: 10px;
    width: 130px;
}

.btn:hover, button:hover{
    background: gray;
}

#inputPlayerName, #inputGameID{
    margin-bottom: 5px;
    width: 130px;
    height: 30px;
}


/* Scrollbar Effects */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}